<div class="row">
	<div class="col-lg-1"></div>
	<div class="col-lg-3">
	  	<div class="card text-center well">
		    <div class="card-body">
		      	<h3 class="card-title">Peonut</h3>
		      	<hr>
		      	<p class="card-text">Directly bought by farmers from his feilds or peonut with toast to remove toast</p>
		      	<a [routerLink]="['/new']" class="card-link">Enter New Settlement</a>
		    </div>
	  	</div>
	</div>
	<div class="col-lg-1"></div>
	<div class="col-lg-3">
		<div class="card text-center">
			<div class="card-body well">
		    	<h3 class="card-title">Peonut-wihtout-toast</h3>
		    	<hr>
		    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    	<a href="#" class="card-link">Card link</a>
		    	<a href="#" class="card-link">Another link</a>
		    </div>
		</div>
	</div>
	<div class="col-lg-1"></div>
	<div class="col-lg-3">
	  	<div class="card text-center">
	    	<div class="card-body well">
	      		<h3 class="card-title">Peonut cutting</h3>
	      		<hr>
	      		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	      		<a href="#" class="card-link">Card link</a>
	      		<a href="#" class="card-link">Another link</a>
	    	</div>
	  	</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-1"></div>
	<div class="col-lg-3">
	  	<div class="card text-center well">
	    	<div class="card-body">
	      		<h3 class="card-title">Peonut</h3>
	      		<hr>
	      		<p class="card-text">Directly bought by farmers from his feilds or peonut with toast to remove toast</p>
	      		<a href="#" class="card-link">Enter New Settlement</a>
	    	</div>
	  	</div>
	</div>
	<div class="col-lg-1"></div>
	<div class="col-lg-3">
	  	<div class="card text-center">
	    	<div class="card-body well">
	      		<h3 class="card-title">Peonut-wihtout-toast</h3>
	      		<hr>
	      		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	      		<a href="#" class="card-link">Card link</a>
	      		<a href="#" class="card-link">Another link</a>
	    	</div>
	  	</div>
	</div>
	<div class="col-lg-1"></div>
	<div class="col-lg-3">
	  	<div class="card text-center">
	    	<div class="card-body well">
	      	<h3 class="card-title">Peonut cutting</h3>
	      	<hr>
	      	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	      	<a href="#" class="card-link">Card link</a>
	      	<a href="#" class="card-link">Another link</a>
	    </div>
	  </div>
	</div>
</div>